/**
** Shared
**/

body {
    height: 100vh;
    background-color: #efebe0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
}

ul.no-bullet {
    list-style-type: none;
    padding-left: 1.75rem;
    margin-bottom: 0.25rem;
}

ul.no-bullet li {
    display: flex;
    align-items: center;
}

code {
    font-size: 0.9rem;
}

code .comment {
    color: #A3A495;
}

code .key-word {
    font-weight: bold;
}

code .type {
    color: #445588;
}

pre {
    margin: 0;
}

svg {
    padding-right: 5px;
}


/**
** Header
**/

header h1 {
    width: 1150px;
    margin: 10vh auto 2vh auto;
}


/**
** Main
**/

main {
    display: flex;
    justify-content: start;
    width: 1150px;
    margin: 0 auto;
}

aside h2 {
    margin-bottom: 24px;
}

aside .portrait {
    width: 320px;
}

aside .portrait img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article {
    margin: 7px 20px;
    padding: 0 0 0 50px;
}

.article nav ul {
    padding-left: 0;
}

.article nav ul > li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.article nav ul > li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
    transform: translate3d(-100%, 0, 0);
}

.article nav ul > li:hover::before,
.article nav ul > li:focus::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.article nav ul > li.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
}

.article section {
    display: none;
    max-width: 620px;
    padding: 0;
}

.article section h2 {
    margin: 0;
}

.article section li {
    line-height: 2rem;
}

.article #summary {
    display: block;
}

.article #code-example p {
    margin-bottom: 0;
}

.article #education ul {
    margin-top: 0.4rem;
}

.article #education img {
    padding-right: 5px;
}

.article #contact li {
    line-height: 2.5rem;
}


/**
** Footer
**/

footer {
    background-color: #d8d2c2;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

footer ul {
    width: 1150px;
    margin: 10px auto;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul > li {
    display: inline-block;
    width: 90px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/**
** Media Queries
**/

@media only screen and (max-width: 1300px) and (max-height: 640px) {
    header h1 {
        margin: 4vh auto 2vh auto;
    }
}

@media only screen and (max-width: 1300px) and (max-height: 600px) {
    header h1 {
        margin: 0 auto 2vh auto;
    }

    aside h2 {
        margin-top: 0;
    }

    .article nav ul {
        margin-top: 0;
    }

    p, li {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1150px) {
    body {
        overflow-y: unset;
    }

    header h1, main, footer ul {
        width: unset;
    }
}

@media only screen and (max-width: 1023px) {
    header {
        padding: 10px;
    }

    header h1 {
        margin-top: 3vh;
    }
    
    main {
        padding: 10px;
    }

    aside .portrait {
        width: unset;
        max-width: 320px;
    }

    .article {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    header h1 {
        text-align: center;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    aside .portrait {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }
    
    aside .portrait img {
        width: 100px;
        height: 100px;
        border-radius: 200px;
        object-fit: cover;
        
    }
}